.layoutholder{
    border: 1px solid red;
    text-align: center;
}
.layoutholder {
border: 3px solid orange;
}

.layoutholder button {
    height: 20px;
    width: 20px;
}
.layoutholder button {
    margin: 50px;
    font-size: 8px;
}
.screen {
    background-color: gray;
    text-align: center;
}
#booknow {
    width: 200px;
}

#bookingslot {

    border: 2px solid orange;
}
.hidden {
    display: none;
}
.navbar {
    height: 50px;
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color:blue;
}
/* .card {
} */
#ticketholder {
    border: 2px solid red;
    height:500px;
}

#ticketholder img {
    height: 200px;
    width: 200px;
}